<%
   if user.nil?
     username = message('applinks.analysis')
   else
     username = user.name
   end
%>
<b><%= username %></b>
<%= message(action) %>
<a class="bold" href="<%= issue_url %>"><%= issue.message %></a>
<%= message(relation) %>
<a class="bold" href="<%= resource_url %>"><%= resource.name(true) %></a>