/**
 * SonarQube Integration Commons
 * Copyright (C) 2013 Marvelution
 * info@marvelution.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.sonarqube-toolbar {
	position: relative !important;
	top: -10px !important;
	right: 10px !important;
}

#sonarqube-dashboard-container {
	width: 99%;
	display: block;
	float: none;
}

#sonarqube-dashboard-container .dashboard-column-wrapper {
	float: left;
	margin: 0 -1px 0 0;
	padding: 0;
}

#sonarqube-dashboard-container .dashboard-column {
	padding: 0;
	overflow: visible;
}

#sonarqube-dashboard-container .sonarqube-widget {
	position: relative;
	width: 100%;
	margin: 0 0 10px 0;
	padding: 0;
	border: 1px solid #DDD;
}
